@model  Artistesta.Models.USER

<!DOCTYPE HTML>
<html>
@{
    if (Session["UserName"].Equals(null))
    {
        Response.Redirect("Login", true);
    }
    var name = Model.FIRST_NAME + " " + Model.LAST_NAME;
    var dp = Model.DP;
    var cover = Model.COVER;
}


<head>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="padding pt-0 mt-0">

        <div style="float:right">
            @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
            {
                <button onclick="document.forms[0].submit()" class="button" style="float:right; border-radius:30px; margin-top: 20px" value="">Log Out</button>
            }
        </div>
        <div class="card" style="border: none; border-top-left-radius: 0; border-top-right-radius: 0; box-shadow: 0 0 20px 2px rgba(0,0,0,0.5); width: 80vw;">
            <img class="card-img-top" src="@cover" style="border-top-left-radius: 0; border-top-right-radius: 0;" alt="cover">

            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src="@dp" alt="dp"></div>
                <h3 class="m-b-0">@name</h3>
                <p>Living Inside A Dream</p>
                <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">125</h3>
                        <small>Artworks</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">195</h3>
                        <small>Followers</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">55</h3>
                        <small>Following</small>
                    </div>
                </div>
            </div>

        </div>

    </div>

    @using (Html.BeginForm("Create", "PUBLISHARTs", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <a style="appearance:none" href="~/PUBLISHARTs/Create">
            <div class="card" style="border-radius: 25px; box-shadow: 0 0 20px 2px rgba(0,0,0,0.5); width: 80vw; margin:20px; margin-left:-50px">

                <input style="width: 100%; padding: 20px; margin: 10px; border: none; appearance: none; cursor: pointer;" placeholder="Publish a new artwork" disabled />

            </div>
        </a>
    }






    </body>
</html>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery-3.6.3.min.js"></script>
<script src="https://kit.fontawesome.com/4550e4897d.js" crossorigin="anonymous"></script>